
*.class
*.class
*.class
*.class
*.class
target/classes/application/queries/BooleanQueryParser$Literal.class
target/classes/application/queries/BooleanQueryParser$StringBounds.class
target/classes/application/queries/BooleanQueryParser.class
target/classes/application/queries/PhraseLiteral.class
*.class
*.class
